/* styles go here */
:root {
  --background-color: #787565;
  --second-bg-color: #DBC59c;
  --bs-dark-bg-subtle: #ced4da;
  --primary-grey: #757272;
  --primary-blue-grey: #566573;
}

/* General Styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--primary-blue-grey);
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

li {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

/* Signup Section */
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/background.png");
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

/* Header Section */
header {
  background-image: url(./src/assets/oberin-ojm-escape-from-tarkov-wallpaper-3840x2160-d3hell.jpg);
  background-size: cover;
  background-position: center;
  height: "200px";
}

/* Footer Section */
footer {
  background-color: var(--primary-grey);
  color: #dbc59c;
  padding: 30px;
  padding-top: 20px;
  text-align: center;
  display: inline-flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
span {
  position: fixed;
  padding-bottom: 1rem;
}
.icon:hover {
  transform: scale(1.25);
  transition: transform 0.05s ease;
  color: #28241b !important;
}
