/* styles go here */

/* Footer Section */

  footer {
    background-color: #757272;
    color: #DBC59c;
    padding: 30px;
    padding-top: 20px;
    text-align: center;
    display: inline-flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
 span {
  position: fixed;
  padding-bottom: 1rem;
  }
  .icon:hover {
    transform: scale(1.25);
    transition: transform 0.05s ease;
    color: #28241b !important;
  }
