/* General Styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-color: #787565;
  --second-bg-color: #dbc59c;
  --bs-dark-bg-subtle: #ced4da;
  --primary-grey: #757272;
  --primary-blue-grey: #566573;
  --primary-white: #f8f9fa;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--primary-blue-grey);
  padding-top: 200px; /* Adjust based on header height */
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

li {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

/* Signup Section */
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-blue-grey);
  margin-bottom: 70px;
  padding-top: 0%;
  background-color: #212529;
}
.accAlready {
  color: #dbc59c !important;
}
.signUpBtn {
  background-color: #dbc59c !important;
  color: #28241b !important;
}
.signUpBtn:hover {
  box-shadow: 5px 3px 10px 2px rgba(0, 0, 0, 0.5);
  transform: scale(1.05) !important;
  transition: transform 0.05s ease;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

/* Header Section */
header {
  background-image: url(./src/assets/oberin-ojm-escape-from-tarkov-wallpaper-3840x2160-d3hell.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
}

.custom-btn {
  background-color: var(--second-bg-color);
}

.custom-btn:hover {
  box-shadow: 5px 3px 10px 2px rgba(0, 0, 0, 0.5);
  transform: scale(1.05) !important;
  transition: transform 0.05s ease;
}

/* Footer Section */
footer {
  background-color: var(--primary-grey);
  color: var(--primary-white);
  padding: 30px;
  padding-top: 20px;
  text-align: center;
  display: inline-flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
span {
  position: fixed;
  padding-bottom: 1rem;
}
.icon:hover {
  transform: scale(1.25);
  transition: transform 0.05s ease;
  color: var(--second-bg-color) !important;
}
